<!-- Footer -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-inner">
      <span class="copyright">&copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      <ul class="footer-links">
        <li><a href="legal">Privacy Policy</a></li>
        {% for link in site.data.sitetext[site.locale].footer.social %}
          {% if link.url %}
          <li>
            <a href="{{ link.url }}" target="_blank" rel="noopener">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>

{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      var f = document.getElementById("footer");
      f.style.position = "fixed";
      f.style.bottom = "0";
      f.style.left = "0";
      f.style.right = "0";
    }
  }
</script>
{% endif %}
<!-- End Footer -->
